<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
<legend>Group Information</legend>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :interest %><br>
    <%= f.select :interest, ['Mobile Apps', 'Games', 'Web Applications', 'Social Media'] %>
  </div>
  <div class="field">
    Strongest Language<br>
    <%= f.select :language_preference, ['Python', 'C++', 'Javascript', 'Scala', 'Java', 'C', 'C#', 'Objective-C'] %>
  </div>
  <div class="field">
    Meeting Time<br>
    <%= f.select :availability, ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %>
  </div>
</fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
