<p id="notice"><%= notice %></p>

<p>
  <strong>Groupid:</strong>
  <%= @group.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @group.interest %>
</p>

<p>
  <strong>Language Preference:</strong>
  <%= @group.language_preference %>
</p>

<p>
  <strong>Meeting Time</strong>
  <%= @group.availability %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>

<hr>

<h3>Members</h3>
<div class="matches">
  <% if @members.any? %>
    <% @members.each do |m| %>
      <div class="match">
        <p>Name: <%= m.name %><br>
          Skill: <%= m.skill %><br>
          Available: <%= m.time1 %> &amp; <%= m.time2 %>
        </p>
      </div>
    <% end %>
  <% else %>
    <p>No members found.</p>
  <% end %>
</div>
