<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>
<legend>Personal Information</legend>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
</fieldset>
<fieldset>
<legend>Account Information</legend>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
</fieldset>
<fieldset>
<legend>Experience</legend>
  <div class="field">
    <%= f.label :interest %><br>
    <%= f.select :interest, ['Mobile Apps', 'Games', 'Web Applications', 'Social Media'] %>
  </div>
  <div class="field">
    Strongest Language<br>
    <%= f.select :language1, ['Python', 'C++', 'Javascript', 'Scala', 'Java', 'C', 'C#', 'Objective-C'] %>
  </div>
  <div class="field">
    Second Strongest Language<br>
    <%= f.select :language2, ['C++', 'Python', 'Javascript', 'Scala', 'Java', 'C', 'C#', 'Objective-C'] %>
  </div>
  <div class="field">
    Best Availability<br>
    <%= f.select :time1, ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %>
  </div>
  <div class="field">
    Second Best Availability<br>
    <%= f.select :time2, ['Tuesday', 'Monday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %>
  </div>
  <div class="field">
    Strongest Skill<br>
    <%= f.select :skill, ['Front-end', 'Back-end', 'Design', 'Project Management', 'Full-stack'] %>
  </div>
</fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
