<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.first_name %>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @user.interest %>
</p>

<p>
  <strong>Language1:</strong>
  <%= @user.language1 %>
</p>

<p>
  <strong>Language2:</strong>
  <%= @user.language2 %>
</p>

<p>
  <strong>Time1:</strong>
  <%= @user.time1 %>
</p>

<p>
  <strong>Time2:</strong>
  <%= @user.time2 %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @user.skill %>
</p>

<p>
  <strong>Groupid:</strong>
  <%= @user.groupid %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<br><br>

<hr>

<h3>Group Matches</h3>
<div class="matches">
  <% if @matches.any? %>
      <% @matches.each do |m| %>
        <div class="match">
          <p data-group-id="<%= m.id %>">Name: <%= m.name %><br>
          Match Score: <%= m.score %><br>
          Interest: <%= m.interest %><br>
          Language: <%= m.language %><br>
          Meeting Time: <%= m.availability %><br>
          Unique Skill Bonus: <%= m.unique_skill_bonus %>
          </p>
        <%= form_tag({:action => "add_group", :controller => "users"}) do |f| %>
          <%= hidden_field_tag :group_id, m.id %>
          <%= submit_tag 'Join Group' %>
        <% end %>
        </div>
      <% end %>
  <% else %>
    <p>No groups found.</p>
  <% end %>
</div>
